<div class="h-screen w-64 bg-gray-900 text-white fixed left-0 top-0 shadow-xl">

  <div class="p-6 border-b border-gray-700">
    <h1 class="text-2xl font-bold">
      Ponto System
    </h1>
  </div>

  <nav class="flex flex-col p-4 gap-2">

    <a
      routerLink="/home"
      routerLinkActive="bg-green-600"
      class="p-3 rounded-lg hover:bg-gray-800 transition"
    >
      Home
    </a>

    <a
      routerLink="/ajuste"
      routerLinkActive="bg-green-600"
      class="p-3 rounded-lg hover:bg-gray-800 transition"
    >
      Ajustes
    </a>

  </nav>

  <div class="absolute bottom-0 w-full p-4 border-t border-gray-700">

    <button
      (click)="logout()"
      class="w-full bg-red-500 hover:bg-red-600 p-2 rounded-lg transition"
    >
      Sair
    </button>

  </div>

</div>